.main-page {

  display: flex;
  justify-content: center;

  height: calc(100vh - 80px); /* Adjusts for header/footer height */
}

.content {
  flex: 1;
  transition: margin-left 0.3s ease;
  padding: 20px;
}



.logs-content {
  /* Styling for logs content */
  background-color: none;
}

.log-table {
  width: 100%;
}

.log-table th, .log-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.log-table th {
  background-color: #ddd;
}